services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    networks:
      - inception
    restart: unless-stopped
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    networks:
      - inception
    restart: unless-stopped
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wp_data:/var/www/html

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    networks:
      - inception
    depends_on:
      - wordpress
    restart: unless-stopped
    ports:
      - "443:443"
    volumes:
      - wp_data:/var/www/html

volumes:
  db_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/seayeo/data/db
  wp_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/seayeo/data/wp

networks:
  inception:
    driver: bridge
    name: inception